/*@extend is used to group and organize selectors according to the BEM methodology*/
.error, .error--serious {
  background-color: #db7f7f;
  border: 1px solid #f00;
  margin: 10px;
  padding: 10px;
}

.error--serious {
  border-width: 3px;
}
